<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stusys.dao.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.stusys.entity.Department">
        <id column="d_id" jdbcType="INTEGER" property="dId"/>
        <result column="d_name" jdbcType="VARCHAR" property="dName"/>
    </resultMap>
    <sql id="Base_Column_List">
    d_id, d_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from department
        where d_id = #{dId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.stusys.entity.Department">
    insert into department (d_id, d_name)
    values (#{dId,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.stusys.entity.Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dId != null">
                d_id,
            </if>
            <if test="dName != null">
                d_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dId != null">
                #{dId,jdbcType=INTEGER},
            </if>
            <if test="dName != null">
                #{dName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.stusys.entity.Department">
        update department
        <set>
            <if test="dName != null">
                d_name = #{dName,jdbcType=VARCHAR},
            </if>
        </set>
        where d_id = #{dId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.stusys.entity.Department">
    update department
    set d_name = #{dName,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>

    <select id="selectAllDep" resultMap="BaseResultMap">
    select *
    from department
  </select>
    <delete id="delDepByIds" parameterType="java.util.List">
        delete from department where d_id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>